@import './mixins.scss';

.container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 1170px;
}

.form {
    width: 400px;
    padding: 30px 15px;

    background-color: rgba(white, .85);
    border: 1px solid gray;
    border-radius: 5px;

    @include screen(xs) {
        width: 100%;
    }

    .form-heading {
        margin-bottom: 20px;
    
        font-size: 2.2rem;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
    }

    .input-group {
        margin-bottom: 25px;
        display: flex;
        align-items: center;
    }
    
    .label {
        flex: 0 0 25%;
    
        font-size: 1.4rem;
    }
    
    .input {
        flex: 0 0 75%;
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid grey;
    }
    
    .buttons {
        text-align: right;
    }
    
    .btn-submit {
        padding: 2px 20px;
    }
    
    .registration-link {
        margin-left: 10px;
    
        font-size: 1.3rem;
    
        color: blue;
        text-decoration: none;
    }
}