<div class="arena">
  <div class="player">
    <app-char [char]="playerChar"></app-char>
  </div>
  <div class="field">
      <h1 class="heading">Arena</h1>
      <button class="button-fight" *ngIf="!fighting.done" (click)="fight()">Go</button>
      <div class="logs">
        <p class="logs__item" *ngFor="let log of fighting.logs">
          {{ log }}
        </p>
      </div>
      <div class="result">
        <p class="fighting.winner" *ngIf="fighting.done">{{ fighting.winner.getName() }} win!</p>
      </div>
  </div>
  <div class="bot">
    <app-char [char]="bot"></app-char>
  </div>
</div>

<a routerLink="/player">Home</a>