<form class="form" #loginForm="ngForm" (ngSubmit)="onSubmit()">
  <p class="form-heading">Вход в игру</p>
  <div class="input-group">
    <label class="label">Email</label>
    <input class="input" type="text" [(ngModel)]="email" name="email" id="email" required />
  </div>
  <div class="input-group">
    <label class="label">Пароль</label>
    <input class="input" type="password" [(ngModel)]="pass" name="pass" id="pass" required />
  </div>
  <div class="buttons">
    <button class="btn-submit" type="submit" >Войти</button>
    <a routerLink="/login/registration" class="registration-link">Новый игрок?</a>
  </div>
</form>